/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.5.2015, 10:14:36
    Author     : kl
*/
/* Perusasetukset */
body {font-size:105%;background-color: #F0F0F0; font-family: "Times New Roman", Times, serif;}
div#content {margin-left:auto; margin-right:auto; padding:10px;width:90%; background-color: #C0C0C0 ;}

/* Menu */
#mainlogo {display: inline; font-family:Arial,Verdana, sans-serif; font-size:60px; 
           color: #000033;border: thin black solid;padding:10px; background-color:#B0B0B0; }
nav {  background-color: #D8D8D8 ;color:black; font-family:Arial,Verdana, sans-serif;
       font-size:18px; height:80px;margin-bottom: 1em;white-space : nowrap;}

p {margin-bottom:1.5em;}

nav ul li  {background-color: #808080; display: inline; border:thin black solid; 
            padding:10px;margin-left:2px; }

nav ul li.userinfo {background-color: #D8D8D8 ; border:none;font-size:110%; float:right; }

nav a:link { color: #000033;}
nav a:visited { color: #E8E8E8  ; }
nav a:hover {color: #E8E8E8 ;}
nav a:active {color: #FFFFFF ; }


/* Etusivun osiot */
#frontleft {margin-left:4em; margin-right:-2em;width:38em;;float:left; background-color: #F0F0F0;}
#frontright {margin-left:4em; margin-right:1em;width:24em;float:left; background-color: #F0F0F0;}

.codetext {font-size:95%; font-family:Courier New,Lucida Console, monospace;}

div.codetext {margin:1em;padding:20px; 
          border: thin black solid; background-color: #F0F0F0; }

div.commentslist,div.searchresults {margin:1em;padding:20px; 
          border: thin black solid; background-color: #F0F0F0; }

#searchbox {display: inline;}

a.checkcode { border: thin black solid; border-radius: 15px;background-color: #000033; color: white; margin:1em;
            padding:10px;text-decoration: none; margin-bottom:2em;}

input, button, label, textarea, select {font-size:105%; padding:5px;margin-bottom:2em;
                                        font-family:Arial,Verdana, sans-serif;
                                        
                                        }
button,input[type="submit"] { background-color: #000033; color: white;padding:8px;}                                        

p.info {font-size:120%;}

.list {border: thin black solid;  margin-bottom:2em;width:80%; background-color: white;}

h1, h2, h3, h4, h5 {margin-top:0em;background-color: #000033; padding: 5px;padding-left: 2em; color:white; }
h2 {font-size:135%;}
h3 {font-size:125%;}
h4 {font-size:105%;}
h5 {font-size:90%;}

.list>p {margin-left:2em;margin-right: 2em;}
